.sidebar {
  max-width: 230px !important;
  min-width: 230px !important;

  .logo {
    width: 100%;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }

  .ant-menu-item:first-of-type {
    margin-top: 0;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;

    .ant-menu {
      flex: 1 1 auto;
    }
  }
}
